
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check updated dates of gov.uk content
      </h1>
		<ol class="govuk-list govuk-list--number">
			<li>Create a .csv file with the paths you want checked (eg using <a href="https://http://sheets.google.com/" target="_blank">Google Sheets</a>)</li>
			<li>.csv must have a single column, with each row containing a path eg /foreign-travel-advice/spain, <strong>not</strong> a full URL like https://www.gov.uk/foreign-travel-advice/spain</li>
			<li>don't add a header row in the .csv, ie the first row should contain an actual path, not a title like 'Path'</li>
		</ol>
		<form id="upload" action="/uploads" method="post" enctype="multipart/form-data">
			<div class="govuk-form-group">
			<input type="file" name="csv" />
			</div>

			<p>After the file is uploaded, click Continue and a results .csv will be downloaded.</p>
			<p>
				If any of the paths in the uploaded .csv were invalid, the corresponding row in the results will have the label 'error'.</p>
			<div class="govuk-form-group">
				<button class="govuk-button" data-module="govuk-button" form="upload">Continue</button>
			</div>
		</form>

		<hr />
		<p><a href="https://github.com/UKForeignOffice/govuk-content-checker">Github repo</a> </p>
    </div>
  </div>

{% endblock %}
